body{
    background-image: url(images/fuelstation\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* position: fixed; */
    /* padding-bottom: 100px; */
}
header{
    /* background-color: tomato; */
    height: auto;
    width: auto;
    margin-top: 0px;
}
.logo{
    height: 70px;
    width: auto;
    /* background-color: rgba(22, 112, 112, 0.293); */
    border-radius: 30px;
    display: flex;
}
.logo h2{
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* background-color: red; */
    height: auto;
    width: auto;
    margin-top: 0px;
}
.logo ul{
    display: flex;
    text-decoration: none;
    color: white;
    margin-left: 900px;
    margin-top: 23px;
}
.logo ul li{
    list-style: none;
    font-size: 20px;
    margin-left: 50px;
}
.logo ul li a{
    color: white;
    text-decoration: none;
}
.container{
    align-items:normal;
    /* background-color: blueviolet; */
    margin: auto;
    padding-bottom: 100px;
}
form{
    display:grid;
    width: 50%;
    align-items: center;
    /* background-color: red; */
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 400px;
}
.form-content{
    height: auto;
    background-color: rgba(0, 0, 0, 0.738);
    text-align: center;
    border-radius: 50px;
    padding-bottom: 10px;
}
.form-content h3{
    color: aliceblue;
}
.form-content input{
    width: 60%;
    height: 32px;
    border-radius: 10px;
    text-decoration: none;
    background-color: aquamarine;
}
.form-content h4{
    color: aliceblue;
    font-size: 30px;
}
.form-content h2{
    color: aliceblue;
    font-size: 34px;
    /* background-color: blue; */
}
.form-content button{
    height: 30px;
    width: 150px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    background-color: rgb(80, 161, 156);
    border-radius: 15px;
}
.form-content h6{
    color: rgb(137, 248, 220);
    font-size: 14px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------forphone----------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1440px){
    body{
       background-image: none;
       width: auto;
       height: 100%;
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       background-color: rgb(133, 225, 190);
       position:relative;
       
    }
    .logo h2{
        font-size: 55px;
        margin-left: -30px;
    }
    .container{
        align-items: center;
    }
    form{
        margin-left: auto;
        height: auto;
        margin-top: 100px;

    }
    form h3{
        font-size: 27px;
    }
    form input{
        font-size: 21px;
    }
} 