body{
    background-image: url(images/fuelstation\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* position: fixed; */
    /* padding-bottom: 100px; */
}
header{
    /* background-color: tomato; */
    height: auto;
    width: auto;
    margin-top: 0px;
}
.logo{
    height: 70px;
    width: auto;
    /* background-color: rgba(22, 112, 112, 0.293); */
    border-radius: 30px;
    display: flex;
}
.logo h2{
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* background-color: red; */
    height: auto;
    width: auto;
    margin-top: 0px;
}
.logo ul{
    display: flex;
    text-decoration: none;
    color: white;
    margin-left: 900px;
    margin-top: 23px;
}
.logo ul li{
    list-style: none;
    font-size: 20px;
    margin-left: 50px;
}
.logo ul li a{
    color: white;
    text-decoration: none;
}
.container{
    align-items:normal;
    /* background-color: blueviolet; */
    margin: auto;
    padding-bottom: 100px;
}
form{
    display:grid;
    width: 50%;
    align-items: center;
    /* background-color: red; */
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 400px;
}
.form-content{
    height: auto;
    background-color: rgba(0, 0, 0, 0.738);
    text-align: center;
    border-radius: 50px;
    padding-bottom: 10px;
}
.form-content h3{
    color: aliceblue;
}
::placeholder{
    text-align: left;
}
.form-content input{
    width: 60%;
    height: 32px;
    border-radius: 10px;
    text-decoration: none;
    background-color: aquamarine;
    text-align: center;
}
.form-content h4{
    color: aliceblue;
    font-size: 30px;
}
.form-content h2{
    color: aliceblue;
    font-size: 34px;
    /* background-color: blue; */
}
.form-content button{
    height: 30px;
    width: 150px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    background-color: rgb(80, 161, 156);
    border-radius: 15px;
}
.form-content h6{
    color: rgb(137, 248, 220);
    font-size: 14px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------forphone----------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width:320px) {
    body{
        background-image: url(images/phn-bg.jpeg);
    }
    .form-content{
       width: 100%;
       margin-left: -3px;
    }
    form{
        width: 100%;
        /* background-color: burlywood; */
    }
    
}
@media (max-width: 768px){
    body{
       background-image: url(images/phn-bg.jpeg);
       width: auto;
       height: 1070px;
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       background-color: rgb(52, 158, 118);
       position:relative;
       align-items: center;
       
    }
    .logo h2{
        font-size: 25px;
        margin-left: -30px;
    }
    .container{
        align-items: center;
        width: 80%;
        margin: 0 auto;
        /* background-color: blueviolet; */
        height: 320px;
        margin-top: -140px;
        padding-left: 16px;
        padding-right: 10px;
    }
    form{
        height: auto;
        /* margin: 10%; */
        margin-top: 350px;
        width: 240px;
        /* background-color: burlywood; */
        margin-left: 0px;
        /* padding-left: 40px;
        padding-right: 40px; */
    }
    form h3{
        font-size: 18px;
    }
    .form-content h4{
        font-size: 23px;
    }
    .form-content h6{
        font-size: 15px;
        color: aliceblue;
    }
    .form-content{
        height: 400px;
        width: 240px;
        /* margin-left: 40px; */
        background-color: rgba(0, 0, 0, 0.321);
        height: auto;
    }
    ::placeholder{
        text-align: left;
    }
    .form-content input{
        font-size: 14px;
        width:150px;
        height: 23px;
        background-color: rgb(169, 223, 204);
        text-align: center;
    }
    .form-content button{
        height: 30px;
        width: 100px;
        background-color: rgb(169, 223, 204);
        color: black;

    }
} 